# קבצי מודלים כבדים
*.h5
*.keras
*.npy

# קבצי GloVe
glove.6B.*

# קבצי csv
#*.csv

# תיקיות אוטומטיות
.idea/
__pycache__/

# קבצים זמניים
*.log
*.tmp
*.swp

# סביבות פייתון
venv/
.env/

#קובץ glove.6B.100d.txt שטקל מעל ל 100MB לכן לא ניתן לעלות אותו ל GIT
glove.6B.100d.txt

#הסרתי את כל ה datasets מפני שהם שוקלים הרבה
*.csv